/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, hsla(204, 69%, 58%, 0.604), #809799);
    color: white; 
    text-align: center;
    padding: 30px;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 10px; 
    letter-spacing: 5px; 
}

.header__logo {
    width: 60px;
    height: auto;
}

.header__nav ul{
    list-style: none;
    gap: 0,1;
}

.header__button {
    background-color: #356697;
    color: #fff;
    border: 1px solid black;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

.header__button:hover {
    background-color: #0056b3;
}




/* main */
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    background-image: linear-gradient(to bottom, hsla(204, 69%, 58%, 0.604), #809799);

}

.main section {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    height: 300px;
    display: flex;
    
}

.main section:hover {
    transform: translateY(-5px);
}

.section__button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  
}

.section__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.main img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}







/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-image: linear-gradient(to bottom, hsla(204, 69%, 58%, 0.604), #809799);
    color: white; 
    text-align: center;
}

.footer div {
    flex: 1;
    padding: 0 1rem;
}

.footer h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #f4f3f3;
}

.footer p {
    margin: 0.5rem ;
    color: #070707;
}

.footer__info{
    font-size: 1em;
}








/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    /* Header */
    .header {
        flex-direction: column;
        text-align: center;
        padding: 1.5rem;
    }

    .header h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .header nav ul {
        flex-direction: column;
        gap: 5px;
    }

    /* Main */
    .main {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 1rem;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .footer div {
        padding: 1rem 0;
    }

    .footer .redes a {
        justify-content: center;
    }
}



